@use '@/styles/colors' as color;
@use '@/styles/fonts' as font;
@use '@/styles/animations' as *;


.single {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 12px;
    padding: .5rem;

    &__on {
        border: 1px solid color.$bluelight;
    }

    &__off {
        border: 1px solid transparent;
    }


    &__blocleft {
        display: flex;
        gap: .5rem;

        svg path {
            fill: color.$bluelight;
        }

        &__on {
            opacity: 1;
            animation: pulse 2s infinite;

        }

        &__off {
            opacity: 0;
        }
    }


    &__text {
        font-family: font.$JetBrainMonoRegular;
        text-transform: uppercase;
        font-size: .8rem;

        &__on {
            color: color.$bluelight;
        }

        &__off {
            color: color.$white;
        }
    }


    &__blocright {
        border-radius: 6px;
        padding: .4rem .2rem;
        min-width: 32px;
        text-align: center;

        &__on {
            background-color: color.$bluelight-alpha;
            border: 1px solid color.$bluelight;
        }

        &__off {
            background-color: color.$greydark;
            border: 1px solid transparent;
        }
    }


    &__number {
        font-family: font.$JetBrainMonoRegular;
        font-size: .75rem;

        &__on {
            color: color.$bluelight;
        }

        &__off {
            color: color.$greylight;
        }

    }
}