
   
   
   $white2: #f1f1f1;
    $white: #FFFFFF;
    $greylight: #A8B3CF;
    $greydark: #2D323B;
    $black: #000000;
    $black2: #17191F;
    $black3: #0E1217;
    $greendark: #255643;
    $greenlight: #39E58C;
    $reddark: #512B30;
    $redlight: #E04337;
    $yellowdark: #9A851E;
    $yellowlight: #FFEE00;
    $purpledark: #422256;
    $purplelight: #CE3DF3;
    $orangedark: #492B1C;
    $orangelight: #FF8E3B;
    $bluedark: #0E4046;
    $bluelight: #2CDCE6;
    $mask: #5F37E9;
    $mask2: #042b00;
    $purpleblue: #514B81;


    
.color-greylight {
    color: $greylight !important;
}

.color-red {
    color: red !important;
}

.color-blue {
    color: blue !important;
}

.color-green {
    color: green !important;
}

.color-yellow {
    color: yellow !important;
}

.color-orange {
    color: orange !important;
}

.color-purple {
    color: purple !important;
}

.color-black {
    color: black !important;
}

.color-white {
    color: white !important;
}

.color-brown {
    color: #A86954 !important;
}

.background-red {
    background-color: red !important;
}

.background-redlight {
    background-color: rgb(255, 230, 230) !important;
}

.background-blue {
    background-color: blue !important;
}

.background-green {
    background-color: green !important;
}

.background-greenlight {
    background-color: rgb(226, 255, 226) !important;
}

.background-yellow {
    background-color: yellow !important;
}

.background-yellowlight {
    background-color: rgb(255, 255, 225) !important;
}

.background-orange {
    background-color: orange !important;
}

.background-purple {
    background-color: purple !important;
}

.background-black {
    background-color: black !important;
}

.background-white {
    background-color: white !important;
}

.background-grey {
    background-color: grey !important;
}




.shadow-red {
    box-shadow: 0 3px 10px rgba(red, .5) !important;
}

.shadow-blue {
    box-shadow: 0 3px 10px rgba(blue, .5) !important;
}

.shadow-green {
    box-shadow: 0 3px 10px rgba(green, .5) !important;
}

.shadow-yellow {
    box-shadow: 0 3px 10px rgba(yellow, .5) !important;
}

.shadow-orange {
    box-shadow: 0 3px 10px rgba(orange, .5) !important;
}

.shadow-purple {
    box-shadow: 0 3px 10px rgba(purple, .5) !important;
}

.shadow-black {
    box-shadow: 0 3px 10px rgba(black, .5) !important;
}

.shadow-white {
    box-shadow: 0 3px 10px rgba(white, .5) !important;
}

.shadow-grey {
    box-shadow: 0 3px 10px rgba(grey, .5) !important;
}

.shadow-greylight {
    box-shadow: 0 3px 10px rgba($greylight, .5) !important;
}


.border-red {
    border-color: red !important;
}

.border-blue {
    border-color: blue !important;
}

.border-green {
    border-color: green !important;
}

.border-yellow {
    border-color: yellow !important;
}

.border-orange {
    border-color: orange !important;
}

.border-purple {
    border-color: purple !important;
}

.border-black {
    border-color: black !important;
}

.border-white {
    border-color: white !important;
}

.border-grey {
    border-color: grey !important;
}

.border-greylight {
    border-color: $greylight !important;
}