$JetBrainMonoRegular: 'JetBrainMono Regular';
$InterMedium: 'Inter Medium';
$SpaceGroteskMedium: 'Space Grotesk Medium';



@font-face {
    font-family: 'JetBrainMono Regular';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 200;
}
@font-face {
    font-family: 'Inter Medium';
    src: url('/fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Space Grotesk Medium';
    src: url('/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
    font-weight: 400;
}
