@use '@/styles/variables' as var;
@use '@/styles/fonts' as font;
@use '@/styles/colors' as color;


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    
    border: color.$greenlight 2px solid;
    border-radius: 6px;
    
    height: var.$btn-h;
    padding: 0 1rem;
    
    &:hover {
        background-color: color.$greenlight;
        box-shadow: 0 0 20px color.$greenlight-alpha;
        
        .icon {
            fill: color.$black-light;
            rotate: 180deg;
            transition: 500ms;
            
            g {
                stroke: color.$black-light;
                fill: none;
                stroke-width: 1;
            }
        }
        
        .text {
            color: color.$black-light;
            cursor: pointer;
        }
    }
    
    .icon {
        width: var.$btn-icn-size;
        fill: color.$greenlight;
        
        rotate: 0deg;
        transition: 500ms;
        
        g {
            stroke: color.$greenlight;
            fill: none;
            stroke-width: 1;
        }
    }
    
    .text {
        display: none;
    }
}

@media screen and (min-width: 900px) {

    .button {

        &:hover {
            .text {
                color: color.$black-light;
                cursor: pointer;
            }
        }

        .text {
            display: block;
            font-size: 12px;
            font-family: font.$JetBrainMonoRegular;
            color: color.$greenlight;
            text-transform: uppercase;
        }

    }
}