@use '@/styles/colors' as color;

.header {
    background-color: color.$black-light;
}

.bloc {
    &__left {
        &_logosm {
            display: block;
            width: 4rem;
            min-width: 4rem;
        }

        &_logolg {
            display: none;
        }

    }

    &__middle {
        display: flex;
        gap: 2rem;
    }

    &__right {
        &_avatar {
            width: 3rem;
            min-width: 3rem;
            border-radius: 8px;
        }
    }
}

.list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.top {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (min-width: 900px) {

    .bloc {
        &__left {
            order: 1;

            &_logosm {
                display: none;
            }

            &_logolg {
                display: block;
                width: 16rem;
                min-width: 4rem;
            }
        }

        &__middle {
            order: 4;
        }

        &__right {
            order: 5;
        }
    }

    .list {
        order: 3;
        gap: 1rem;
        width: fit-content;
    }
}