@use '@/styles/colors' as color;

.header {
    display: flex;
    align-items: center;

    background-color: color.$black-light;
    width: 100%;
    height: 70px;

    &__bloc {
        &_left {
            &__logo {
                width: 4rem;
            }

        }

        &_middle {
            display: flex;
            
        }

        &_right {}




    }



}