@use '@/styles/colors' as color;
@use '@/styles/fonts' as font;
@use '@/styles/animations' as *;


.container {
    display: flex;
    align-items: center;

    &__icon {
        width: 1rem;


        &_on {
            fill: color.$greenlight;
            animation: pulse 2s infinite;
        }

        &_off {
            fill: color.$redlight;
            animation: pulse 2s infinite;
        }
    }
}


.text {
    font-family: font.$JetBrainMonoRegular;
    text-transform: uppercase;
    font-size: .8rem;


    &__white {
        color: color.$white;
    }

    &__green {
        color: color.$greenlight;
    }

}


